<div class="container-fluid">
    <h1 class="center-block text-center">{{'Iteración ' + currentIteracion.numero}}</h1>
    <div class="col-lg-12 req-box">
        <div>
            <div class="col-lg-6">
                <h3>Requerimientos de Modificación</h3>
                <button class="thumbnail col-lg-3 center-block text-center requerimiento-box"
                        ng-repeat="requerimiento in currentIteracion.requerimientos_modificacion"
                        ng-click="setRequerimientoMod(requerimiento)">
                    <strong><span>{{requerimiento.codigo}}</span></strong>
                    <span class="h-rule" style="margin-top: 0; margin-bottom: 0;"></span>
                    <span>{{requerimiento.titulo}}</span>
                </button>
            </div>
            <div class="col-lg-6">
                <h3>Requerimientos de Consulta</h3>
                <button class="thumbnail col-lg-3 center-block text-center requerimiento-box"
                        ng-repeat="requerimiento in currentIteracion.requerimientos_consulta"
                        ng-click="setRequerimientoMod(requerimiento)">
                    <strong><span>{{requerimiento.codigo}}</span></strong>
                    <span class="h-rule" style="margin-top: 0; margin-bottom: 0;"></span>
                    <span>{{requerimiento.titulo}}</span>
                </button>
            </div>
            <div class="col-lg-6">
                <h3>Requerimientos No Funcionales</h3>
                <button class="thumbnail col-lg-3 center-block text-center requerimiento-box"
                        ng-repeat="requerimiento in currentIteracion.requerimientos_no_funcionales"
                        ng-click="setRequerimientoMod(requerimiento)">
                    <strong><span>{{requerimiento.codigo}}</span></strong>
                    <span class="h-rule" style="margin-top: 0; margin-bottom: 0;"></span>
                    <span>{{requerimiento.titulo}}</span>
                </button>
            </div>
        </div>
    </div>

    <div class="col-lg-12 req-box">
        <h3>Lo aprendido</h3>
        <span class="h-rule"></span>
        <ul class="fa-ul">
            <li ng-repeat="topic in currentIteracion.aprendido">
                <i class="fa-li fa fa-check"></i>
                {{topic}}
            </li>
        </ul>
    </div>

    <div id="modalRequerimiento" ng-show="showModal" ng-keydown="keyPress($event);" tabindex="0">
        <div class="my-modal-content">
            <div class="my-modal-head">
                <button class="btn pull-right modal-close-button" ng-click="hideModal()">
                    &times;
                </button>
                <button class="btn pull-right modal-back-button" ng-click="goBack()" ng-show="stackTrace.length > 0">
                    <i class="fa fa-undo" aria-hidden="true"></i>
                </button>

                <div class="code-badge">{{currentReq.codigo}}</div>
                <h3 class="text-center">{{currentReq.titulo}}</h3>
                <span class="h-rule"></span>
            </div>
            <div class="my-modal-body">
                <button id="prevButMod" class="modal-button-arr modal-button-left" ng-click="prevReq()">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </button>
                <p class=" pre-scrollable style-2" compile="validar(currentReq.descripcion)"></p>
                <button id="nextButMod" class="modal-button-arr modal-button-right" ng-click="nextReq()">
                    <span class="glyphicon glyphicon-chevron-right"></span></button>
                <div>
                    <strong compile="validar(currentReq.nota)"></strong>
                </div>
            </div>
        </div>
    </div>
</div>