html, body, .container-fluid, .row {
    height: 100%;
}

@media (min-width: 900px) {
    .sidebar {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: 1000;
        display: block;
        background-color: #212121;
        padding: 3px 3px 0px 3px;
    }
}

.nav-pills > li {
    min-width: 100%;
}

.navbar-default {
    background-color: transparent;
}

button, .btn-default, .btn-default > a {
    background-color: transparent;
    border: transparent;
    color: #ffffff;
}

.big-button {
    padding: 20px;
}

.side-down > li > a {
    color: #ffffff;
}

.downside {
    background: #4f4f4f;
}

.navbar-inverse {
    color: #FFFFFF;
    padding: 10px;
}

.btn-see-espectaculo {
    background-color: #823010;
    color: #FFFFFF;
}

.dark-container {
    background-color: #151515;
    color: #FFFFFF;
    padding: 0px;
    margin: 0px;
    border: 0px;
}

/*HOVER*/
button:hover > a,
.btn-default:hover,
.btn-default:hover > a {
    background: #ffffff;
    color: #212121;
}

.side-down > li:hover > a {
    color: #212121;
}

a:hover {
    color: #212121;
}

div > ul link > li > a {
    color: #ffffff;
    background: transparent;
}

div > ul > li > a {
    color: #ffffff;
    background: transparent;
}

/*SCROLL*/
.force-overflow {
    min-height: 200px;
}

.pre-scrollable {
    float: none;
    overflow-y: scroll;
    margin-bottom: 5px;
    margin-left: 3px;
    background-color: transparent;
}

/*SCROLL WHITE STYLE*/
.style-2::-webkit-scrollbar {
    width: 3px;
    background-color: transparent;
}

.style-2::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: transparent;
}

.style-2::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #FFFFFF;
}

/*SCROLL DARK STYLE*/
.style-3::-webkit-scrollbar {
    width: 10px;
    background-color: transparent;
}

.style-3::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: transparent;

}

.style-3::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #212121;
}