.main-content {
    margin-bottom: 80px;
}

.title-block {
    padding: 30px 0 10px 0;
    background-image: linear-gradient(to left, turquoise 0%, #212121 100%);
}

.title-page {
    color: white;
    font-size: 30px;
}

.title-description {
    color: rgba(255, 255, 255, 0.8);
    font-size: 15px;
    font-family: monospace;
}

.title-link {
    color: white;
}

.title-link:hover,
.title-link:focus {
    color: #1EAFB4;
}

.title-button {
    background-color: transparent !important;
    color: white !important;
    border: 1px solid white !important;
    width: 200px !important;
    padding: 10px !important;
}

.title-button:hover {
    background-color: white !important;
    color: #1EAFB4 !important;
}

.content-module {
    padding: 10px;
    text-align: justify;
    margin: 10px 40px 10px 40px;
}

.h-rule {
    height: 1px;
    background-color: #1e9196;
    display: block;
    margin-top: -9px;
    margin-bottom: 9px;
}

.footer-block {
    padding: 5px;
    background-image: linear-gradient(to left, turquoise 0%, #212121 100%);
    position: fixed;
    bottom: 0;
    width: 100%;
}

.footer-button {
    background-color: transparent;
    color: white;
    border: 1px solid white;
    font-size: 15px;
}

.requerimiento-box {
    border: 1px solid #1e9196 !important;
    margin-right: 10px !important;
    background: #FFFFFF;
    color: #212121;
    min-height: 150px !important;
    max-height: 150px !important;
}

.requerimiento-box:hover,
.requerimiento-box:focus {
    background-color: #212121;
    color: #ffffff;
}

.req-box {
    border: transparent;
    border-radius: 10px;
    box-shadow: 0 1px 5px 1px rgba(33, 33, 33, 0.2);
}

.req-box-inner {
    position: fixed !important;
    right: 0;
    margin-right: 35px;
    margin-top: 50px;
    border: transparent;
    border-radius: 10px;
    box-shadow: inset 0 0 10px rgba(33, 33, 33, 0.2);
    margin-bottom: 20px;
    padding: 10px;
}

#modalRequerimiento {
    background-color: rgba(0, 96, 96, 0.8) !important;
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1500;
    /*-webkit-filter: blur(10px) grayscale(50%);*/
}

#modalRequerimiento > div > .modal-content {
    box-shadow: none;
    border: 0;
    border-radius: 0;
}

.my-modal-content {
    position: absolute;
    background-color: white;
    display: block;
    top: 170px;
    left: 32%;
    width: 500px;
    /*border-radius: 30px;*/
}

.modal-button {
    position: absolute;
    background: #960a14;
    top: -15px;
    right: -16px;
    border-radius: 50px !important;
    color: white;
}

.modal-button-up-left {
    position: absolute;
    background: dodgerblue;
    top: -15px;
    left: -16px;
    border-radius: 50px !important;
    color: white;
}

.my-modal-head {
    padding: 10px;
}

.my-modal-body {
    text-align: justify;
    padding-right: 30px;
    padding-left: 30px;
    padding-bottom: 15px;
}

.modal-button-arr {
    background-color: transparent;
    border: 0;
    position: absolute;
    top: 55%;
}

.modal-button-left {
    left: 0;
}

.modal-button-right {
    right: 0;
}

.code-badge {
    background-color: #212121;
    color: white;
    height: 40px;
    padding-top: 8px;
    text-align: center;
    top: -22px;
    position: absolute;
    left: 40%;
    width: 100px;
}

.pre-scrollable {
    float: left;
    overflow-y: scroll;
    margin-bottom: 25px;
    background-color: transparent;
    margin-right: 5px;
    max-height: 250px !important;
}

.style-2::-webkit-scrollbar {
    width: 2px;
    background-color: transparent;
}

.style-2::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #212121;
}

.style-2::-webkit-scrollbar-track {
    background-color: transparent;
}
