button:hover > a,
.btn-default:hover,
.btn-default:hover > a {
    background: #ffffff;
    color: #212121;
}

.side-down > li:hover > a {
    color: #212121;
}

a:hover {
    color: #212121;
}

.btn-nav:hover,
.btn-nav:focus {
    background-color: #FFFFFF;
    color: #212121;
    border-radius: 0px;
}

.btn-white:focus,
.btn-white:hover {
    border: 1px #212121 solid;
}

.edit:hover {
    border: #0096bb solid 2px;
    color: #0096bb !important;
}

.remove:hover {
    border: 2px #B42E2F solid;
    color: #B42e2f !important;
}

.more:hover {
    border: 2px #8dd700 solid;
    color: #8dd700 !important;
}
