@font-face {
    font-family: Comfortaa;
    src: url(fonts/Comfortaa.ttf);
}

@font-face {
    font-family: Digital;
    src: url(fonts/DigitalReadout.ttf);
}

@font-face {
    font-family: PT_Sans;
    src: url('fonts/Pt_Sans.ttf');
}

.dark-container {
    background-color: #151515;
    color: #FFFFFF;
    padding: 0;
    margin: 0;
    border: 0;
}

.thumbnail {
    padding: 4px;
}

button, .btn-default {
    background-color: transparent;
    border: transparent;
    color: #ffffff;
}

/*TODO: Verificar permanencia*/
.navbar-inverse {
    color: #FFFFFF;
    padding: 10px;
}

/*TODO: Verificar permanencia*/
div > ul link > li > a {
    color: #ffffff;
    background: transparent;
}

/*TODO: Verificar permanencia*/
div > ul > li > a {
    color: #ffffff;
    background: transparent;
}